<div class="card">
  <div class="card-block">
    <h3 class="card-title">{{this.title}}</h3>
    <p class="card-text">{{this.content}}</p>

    <p><form method="POST" action="/reviews/comments/{{this._id}}?_method=DELETE">
        <button class="btn btn-link" type="submit">Delete</button>
    </form></p>
  </div>
</div>
<!-- <p class="card-text">Date: {{this.updatedAt}}</p> -->
<!-- Delete link -->
