<nav class="navbar navbar-inverse" style="border-radius: 0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Make Notes
      </a>
    </div>
    <div class="pull-right">
      <a href="/reviews/new" class="btn btn-default navbar-btn">New Class</a>
    </div>
  </div>
</nav>
